.header{
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    background-color: #a7532d;
    color: whitesmoke;
    padding: 5px 5px;
}

.header > a{
    text-decoration: none;
    color: whitesmoke;
}