a{
    text-decoration: none;
    color: whitesmoke;
}

html {
    scroll-behavior: smooth;
}

.header{
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    color: whitesmoke;
    padding: 8px 5px;
    margin: 0;
    z-index: 10;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
}

.header-left{
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
    font-family: monospace;
    font-size: 20px;
}

.header-left > a > p{
    margin: 3px;
}

.header-right{
    display: flex;
    justify-content: right;
}

.header-right > a {
    margin: 0;
    color: whitesmoke;
    padding: 0px 10px;
}


.header-right > a > h3{
    margin: 3px;
}

