.hero-container{
    border: 2px red solid;
    display: flex;
}

.hero-left{
    border: 2px black solid;
    width: 50vw;
    height: 90vh;
    background-color: grey;
}

.hero-right{
    display: flex;
    border: 2px lightblue solid;
    width: 50vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.hero-right > p{
    text-align: center;
}