.hero-container{
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
}

.hero-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('./assets/background_img.jpg');
    background-size: cover;
    background-position: center;
    /* filter: blur(10px);  */
    z-index: -1; /* Push it behind the content */
}

.hero-left{
    display: flex;
    width: 50vw;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}


.hero-right{
    display: flex;
    width: 50vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Scope One", serif;
    font-weight: 400;
    font-style: normal;
}

.hero-right > p{
    width: 20vw;
    text-align: center;
    font-size: 20px;
}


.name {
    font-size: 200px;
    color: whitesmoke;
    text-align: center;
}
