.hero-container{
    display: flex;
    background-color: burlywood;
}

.hero-left{
    display: flex;
    width: 50vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.hero-left img{
    height: inherit;
    width: auto;
}

.hero-right{
    display: flex;
    width: 50vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.hero-right > p{
    width: 20vw;
    text-align: center;
    font-size: 20px;
}