.project-card-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-card {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-name {
  background-color: black;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.card-name p {
  transition: transform 0.3s ease;
}

.description {
  margin: 5px;
}

.masonry-grid {
  display: flex; /* Enables horizontal stacking of columns */
  gap: 16px; /* Space between columns */
}

.masonry-grid-column {
  display: flex;
  flex-direction: row; /* Stack images vertically in each column */
  gap: 16px; /* Space between images in a column */
}

.masonry-image {
  display: block;
  width: 30%;
  height: auto;
  max-width: 100%; /* Prevent image from overflowing the column width */
  max-height: 100%; /* Scale down large images proportionally */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.masonry-image:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}